# Text Editor related files
*.code-workspace
*.sublime-project
*.sublime-workspace
.vscode/**

# Files created by Go tools
*.out
*.prof
*.test
*.sum

# Binary / Library files.
*.a
*.exe

# Program config files
config.yml

*.log

data/
